.beer-table-styles {
  width: 100%
}
.beer-sorter-header {
  text-align: center;
}

.beer-sorter-header-title-logo {
  display: flex;
  padding-left: 28%;
  padding-right: 28%;
}
.beer-sorter-header-title-logo> img {
  width: 80px;
  height: 80px;
}

.table-container {
  padding: 30px;
}

.filter-beer-input-styles {
  width: 300px;
}

.row-styles:hover {
  background: aliceblue;
}
